<div class="section price">
  <div class="inner">
    <div class="hy_subtitle">信箱派報</div>

    <div class="hy_smailtitle">基本報價</div>

    <div>我們按紙張尺寸進行報價：</div>
    <table>
      <tr>
        <td>A4以下：</td><td>$0.35 - $0.40</td>
      </tr>
      <tr>
        <td>八開：</td><td>$0.40 - $0.45</td>
      </tr>
      <tr>
        <td>四開：</td><td>$0.45 - $0.50</td>
      </tr>
      <tr>
        <td>二開：</td><td>$0.50 - $0.55</td>
      </tr>
    </table>
    <div>冊子與摺式海報：請來電詢問</div>

    <div class="hy_smailtitle">優惠空間</div>
    <ol class="number_list">
      <li>週日、一、二、三派發可享價格優惠</li>
      <li>大量海報或週期派發，價格可另行議定</li>
    </ol>

    <div class="hy_smailtitle">報紙夾報</div>
    <div>依現場夾報單價，加收 $0.15 督報費</div>
  </div>
</div>