<div class="section idea">
  <div class="inner">
    <div>在台北作生意，無孔不入的宣傳，除了是必要功夫，也是一門不可忽視的學問：宣傳預算要花多少才合理？海報或優惠券確實且全面散發出去了嗎？除了網路宣傳以外，我們還可以作些什麼？</div>

    <div><span class="hy_highlight1">芳生富田派報社</span>，提供你簡便的專業解決方案：累積超過20年實務經驗，以對台北地區街道與信箱的透徹掌握、管理能力及敬業態度，對上述問題給了一個傳統且有效的解答。</div>

    <div>民國89年，洪瑞崇夫婦成立了<span class="hy_highlight1">「芳生派報社」</span>，以「讓每張海報發揮應有的宣傳價值」的理念，不斷學習與茁壯。成立當初，除了<span class="hy_highlight2">「信箱派報」</span>與<span class="hy_highlight2">「報紙夾報」</span>的業務外，更經營了<span class="hy_highlight2">「路邊舉牌」</span>與<span class="hy_highlight2">「定點派發」</span>兩種傳統的宣傳方式。</div>

    <div>民國92年，購併並繼承有十年老字號的<span class="hy_highlight1">「實實派報社」</span>。</div>

    <div>民國92年至100年間，著力於讓<span class="hy_highlight1">芳生</span>與<span class="hy_highlight1">實實</span>的實務經驗能夠結合並發展。我們決定捨棄風險大而且效果有限的<span class="hy_highlight2">「路邊舉牌」</span>與<span class="hy_highlight2">「定點派發」</span>業務，將<span class="hy_highlight2">「信箱派報」</span>與<span class="hy_highlight2">「報紙夾報」</span>兩種舊有業務萃取、發展為更全面完善的業務，徹底檢討與提昇派報規劃力、執行力。</div>

    <div>民國100年，更名為<span class="hy_highlight1">「芳生富田派報社」</span>。</div>

    <div>今天，<span class="hy_highlight1">芳生富田派報社</span>依然珍惜所託，以誠信、確實、負責的態度，一步一腳印地實現「讓每張海報發揮應有的宣傳價值」的初衷－－不負所託，精實專業。</div>
  </div>
</div>