<div class="section contactUs">
  <div class="inner">
    <div class="hy_subtitle">連絡我們</div>
    <div class="hy_smalltitle">業務人員專線</div>
    <table>
      <tr>
        <td>洪瑞崇先生</td><td><a href="tel:0935235422">0935-235-422</a></td>
      </tr>
      <tr>
        <td>陳君豐先生</td><td><a href="tel:0910924768">0910-924-768</a></td>
      </tr>
      <tr>
        <td>吳麗芳小姐</td><td><a href="tel:0953179227">0953-179-227</a></td>
      </tr>
    </table>

    <table>
      <tr>
        <td>公司地址</td><td>台北市112北投區文林北路244巷48號1樓</td>
      </tr>
    </table>

總機
徐小姐
電話：(02) 2827-9896
傳真：(02) 2827-6253
E-mail： fang.sheng88@msa.hinet.net
  </div>
</div>