<div class="section service">
  <div class="inner">
    <div class="hy_subtitle">
      <span class="hy_highlight1">芳生富田派報社</span>
      提供兩種專業派報服務：
      <span class="hy_highlight2">信箱派報</span>、
      <span class="hy_highlight2">報紙夾報</span>。
    </div>

    <div>
      我們會依據客戶的需求，以實務經驗就區域、對象進行分析，進行規劃，並建議策略搭配以及服務方案。
    </div>

    <div class="hy_smailtitle">信箱派報</div>
    <div>
      <ol class="number_list">
        <li>
          <span>派報人員:</span>任用專業專職的派報人員。
        </li>
        <li>
          <span>交通工具:</span>自備機車。
        </li>
        <li>
          <span>取報方式:</span>a.客戶指定現場取報  b.公司取報
        </li>
        <li>
          <span>派報時間:</span>早上7:00起至完成。
        </li>
        <li>
          <span>派發方式:</span>騎機車到達客戶規劃之派發區域，以走路或小跑步方式將海報挨家挨戶投入信箱。
        </li>
        <li>
          <span>回報:</span>派報人員於每區域完成時，及時向公司作回報，公司依回報完成之區域及時間作完整紀錄，並立即將訊息告知現場督報人員。
        </li>
        <li>
          <span>督報:</span>派報過程或派報生回報完成時，由督報專員立即巡視以落實信箱派報。劃整的規劃，以確實達到廣告宣傳的有效性。
        </li>
      </ol>
    </div>
    <div class="hy_smailtitle">報紙夾報</div>
    <div>
      <ol class="number_list">
        <li>
          <span>夾報位置:</span>各大報紙發放點。
        </li>
        <li>
          <span>進行人員:</span>各送報生。
        </li>
        <li>
          <span>進行時間:</span>凌晨2:30~4:30。
        </li>
        <li>
          <span>進行方式:</span>依客戶指定夾報日，將海報送達指定夾報區的夾報現場。將海報發放給各區負責的報生。由送報生將海報套入報紙內，套報完成後與報紙同時送至訂報戶手中。
        </li>
        <li>
          <span>夾報分配:</span>每一送報生可套報量250份，由現場督報人員與夾報佔領班共同分配發放。
        </li>
        <li>
          <span>督報:</span>由公司督報人員會同客戶現場督報，嚴謹巡視各送報生套報，加強送報生區域落實的態度。
        </li>
        <li>
          <span>回報:</span>當日凌晨夾報後，於上班時間向客戶做夾報完成之報告。(客戶未到現場)
        </li>
      </ol>
    </div>
    <div class="hy_smailltitle">「路邊舉牌」與「定點派發」</div>
    <div>民國92年至100年間，考慮風險以及效果，我們不再提供「路邊舉牌」與「定點派發」服務。</div>
  </div>
</div>