<footer>
  <div class="hy_footer">
    <div>芳生富田派報社</div>
    <div>地址：<span>台北市112北投區文林北路244巷48號1樓</span></div>
    <div>電話：<span>(02)2827-9896</span></div>
  </div>
  <div class="hy_th"></div>
  <div class="hy_copyright">Copyright © 2014 Fang Sheng Corp. All rights reserved</div>
</footer>