<div class="section home">
  <div class="inner hy_flexbox">
    <div class="hy_logo hy_flex2">
      <%= image_tag "logo.png" %>
    </div>
    <div class="hy_flex1">
      <div class="hy_title">芳生富田派報社</div>
      <div class="hy_subtitle">不負所託，精實專業</div>
      <div>讓每張海報發揮應有的宣傳價值</div>
      <div>發海報，不是攻下一做城堡，而是在每一個信箱中，種下一顆希望的種子 </div>
    </div>
  </div>
</div>

<div class="hy_menu subMenu">
  <div class="hy_flexbox inner">
    <a class="hy_flex1 subNavBtn active" href="#home">
      <span class="hy_item">
        <span class="hy_normal">首　　頁</span>
        <span class="hy_hover">Home</span>
      </span>
    </a>
    <a class="hy_flex1 subNavBtn" href="#idea">
      <span class="hy_item">
        <span class="hy_normal">理　　念</span>
        <span class="hy_hover">Idea</span>
      </span>
    </a>
    <a class="hy_flex1 subNavBtn" href="#service">
      <span class="hy_item">
        <span class="hy_normal">服　　務</span>
        <span class="hy_hover">Service</span>
      </span>
    </a>
    <a class="hy_flex1 subNavBtn" href="#price">
      <span class="hy_item">
        <span class="hy_normal">報　　價</span>
        <span class="hy_hover">Price</span>
      </span>
    </a>
    <a class="hy_flex1 subNavBtn" href="#contactUs">
      <span class="hy_item">
        <span class="hy_normal">聯絡我們</span>
        <span class="hy_hover">Contact us</span>
      </span>
    </a>
  </div>
</div>